@import url('https://fonts.googleapis.com/css2?family=Material+Icons&family=Open+Sans+Condensed:wght@300;700&family=Roboto:wght@300;700&display=swap');

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin-left: 5%;
    margin-right: 5%;
}

h1, h2, h3 {
    font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
    font-size: 90px;
    font-weight: 900;
    font-stretch: wider;
}

.input-field .prefix .active {
    border-bottom: 1px solid rgb(156, 77, 77) !important;
    box-shadow: 0 1px 0 0 #000;
  }

  .vertical-spaces {
      margin-top: 30px;
      margin-bottom: 30px;
  }

.rounded {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
}

.border-none {
    border-color: transparent !important;
}

  /* label underline focus color */
  input:focus {
    border-bottom: 1px solid grey !important;
    box-shadow: 0 1px 0 0 grey !important
  }

  /* .max-wide {
      max-width: 18rem;
      align-self: center !important;
  } */